# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ENV/
.venv
*.egg-info/
dist/
build/
.git/
.gitignore
.gcloudignore
